{{- /* Page context for GTM dataLayer (must come BEFORE the GTM snippet) */ -}}
{{- $pageType := .Kind -}}
{{- if .IsHome -}}
  {{- $pageType = "home" -}}
{{- else if and (eq .Kind "page") (eq .Section "posts") -}}
  {{- $pageType = "post" -}}
{{- else if eq .Kind "term" -}}
  {{- $pageType = "category" -}}
{{- end -}}

{{- $articleSlug := "" -}}
{{- $articleTitle := "" -}}
{{- $articleCategory := "" -}}
{{- if eq $pageType "post" -}}
  {{- with .File }}{{ $articleSlug = .BaseFileName }}{{ end -}}
  {{- $articleTitle = .Title -}}
  {{- with .Params.categories -}}
    {{- if gt (len .) 0 -}}{{ $articleCategory = index . 0 }}{{- end -}}
  {{- end -}}
{{- else if eq $pageType "category" -}}
  {{- $articleCategory = .Title -}}
{{- end -}}

<script>
  window.dataLayer = window.dataLayer || [];
  window.dataLayer.push({
    page_type: {{ $pageType | jsonify }},
    article_slug: {{ $articleSlug | jsonify }},
    article_title: {{ $articleTitle | jsonify }},
    article_category: {{ $articleCategory | jsonify }},
    page_path: {{ .RelPermalink | jsonify }},
    page_title: {{ .Title | jsonify }}
  });
</script>

{{- with site.Params.gtmContainerId }}
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','{{ . }}');</script>
<!-- End Google Tag Manager -->
{{- end }}
